body {
    background-color: #f3f3f3;
    /*background-image: url("../images/index.jpg");*/
     /*background-repeat: no-repeat;*/
  background-position: center;
  background-size: cover;
}

.container ul{
    overflow-x: visible;
    overflow-y: auto;
}
