{% extends "base.html" %}

{% block title %}图书添加{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
    <script>
        var addNameUrl = "{{ url_for('admin.add_book') }}";
    </script>
{#<script src="{{ url_for('static', filename='jquery/space-width.js') }}"></script>#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

{% endblock %}
{% block body %}
    <div class="form-space" style="background-color: white;border-radius: 20px;">
        <div style="border: none;display: flex;" id="addbook">
            <form method="post" name="addForm" >
                <div class="green-book">
                    <div>图书名:
                    <input type="text" id="Name" name="Name"></div>
                    <div>作者:
                    <input type="text" id="Author" name="Author"></div>
                    <div>出版社:
                    <input type="text" id="Publisher" name="Publisher"></div>
                    <div>书籍简介:
                    <input type="text" id="Synopsis" name="Synopsis"></div>
                    <div>价格:
                    <input type="text" id="Price" name="Price"></div>
                </div>
                <button type="submit" name="bookSubmit" id="bookSubmit">添加书本</button>
            </form>

        </div>
    </div>
{% endblock %}
