{% extends "base.html" %}

{% block title %}{{ target.username }}的借阅记录{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
    <script>
        var returnBookUrl = "{{ url_for('admin.del_book') }}";
    </script>
    <script src="{{ url_for('static', filename='jquery/del_book.js') }}"></script>
    <script src="https://cdn.socket.io/4.7.0/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + window.location.hostname + ':' + location.port);
        // 新增监听 'input_book_id_value' 事件
        socket.on('input_book_id_value', function (data) {
            console.log('Received book ID value:', data.value);
            var bookID = data.value; // 更新输入框的值
            // 如果需要，此处也可以添加类似触发 blur 事件的逻辑
            setTimeout(function () {
                triggerReturnButtonClick(bookID);
            }, 500); // 延迟0.5秒
        });
        function triggerReturnButtonClick(bookId) {
            // 通过 data-book-id 属性值定位归还按钮元素
            const returnButton = $('.return-book[data-book-id="' + bookId + '"]');

            if (returnButton.length > 0) {
                // 找到元素，触发点击事件
                returnButton.trigger('click');
            } else {
                console.warn('未找到与指定图书ID匹配的归还按钮。');
            }
        }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block body %}
    <h1 style="text-align: center">{{ target.username }}的借阅记录</h1>
    <div class="row">
        <table class="book-list-table">
            <thead>
            <tr>
                {#                <th class="book-cover-th">用户名称</th>#}
                {#                <th class="book-cover-th">用户卡号</th>#}
                <th class="book-title-th">书名</th>
                <th class="book-tags-th">标签</th>
                <th class="book-id-th">图书ID</th>
                <th class="book-author-th">作者</th>
                <th class="book-author-th">借出时间</th>
                <th class="book-author-th">归还时间</th>
            </tr>
            </thead>
            <tbody>
            {#            {% for user in users %}#}
            {% for book in users %}
                <tr>
                    {#                        <td class="book-cover-td">#}
                    {#                            {{ user.username }}#}
                    {#                        </td>#}
                    {#                        <td class="book-author-td">#}
                    {#                            {{ user.card }}#}
                    {#                        </td>#}
                    <td class="book-title-td">
                        <a href="{{ url_for('admin.book_detail', book_id=book.book_id) }}">{{ book.books.Name }}</a>
                    </td>
                    <td class="book-tags-td book-tags">
                        {% for tag in book.books.Tags %}
                            <span class="tag-inline">{{ tag.name }}</span>
                        {% endfor %}
                    </td>
                    <td class="book-id-td">{{ book.book_id }}</td>
                    <td class="book-author-td">{{ book.books.Author }}</td>
                    <td class="book-author-td">{{ book.borrow_date }}</td>
                    {% if book.return_date %}
                        <td class="book-author-td">{{ book.return_date }}</td>
                    {% else %}
                        <td class="book-author-td">
                            {#                        <button class="return-book" data-book-id="{{ book.book_id }}">归还</button>#}
                            尚未归还
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {#            {% endfor %}#}
            </tbody>
        </table>
    </div>
{% endblock %}
