{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block body %}
    <style>
  form {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
    <div class="book-form">
        <form action="{{url_for('qa.search')}}" method="GET">
            <span class="form-span">
            <input class="form-input" type="text" id="book-title" name="BookName" required placeholder="请输入图书名" autocomplete="off">
            </span>
            <!-- 提交按钮 -->
            <span class="form-span">
                <input style="width: 100%" class="btn btn-outline-success my-2 my-sm-0 form-input" type="submit" value="查找"></input>
            </span>
        </form>
    </div>

{% endblock %}
