{% extends "base.html" %}

{% block title%}首页{%endblock%}

{% block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
{% endblock%}
{%block body%}
     <div class="row" style="margin-top: 20px;">
            <div class="col-10">
                <ul class="question-ul">
                    {% for book in books %}
                        <li>
                        <div class="side-question">
                            <img class="side-question-avatar" src="../static/images/avatar.jpg" alt="">
                        </div>
                        <div class="question-main">
                            <div class="question-title" ><a href="{{url_for('qa.qa_book_detail',qa_id = book.id)}}" >{{book.Name}}</a></div>
                            <div class="book-tags">
                                {% for tag in book.Tags %}
                                    <a href="{{url_for('qa.search_tag',tag_name = tag.name)}}"><button style="display: inline-block">{{ tag.name }}</button></a>
                                {% endfor %}
                            </div>
                            <div class="question-content">简介：{{ book.Synopsis}}</div>
                            <div class="question-detail">
                                <span class="question-author">作者：{{book.Author}}</span>
                                <span class="question-time">收录日期：{{book.StorageTime}}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col"></div>
        </div>
{% endblock %}
