{% extends "user_base.html" %}

{% block title %}{{ user.username }}的个人信息{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}">
    <script>
        $(document).ready(function () {
            var alertMessage = "{{ alert_message }}";
            if (alertMessage) {
                alert(alertMessage);
            }
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h2 class="text-center">用户信息详情与编辑</h2>
        <form id="userForm" method="GET" action="{{ url_for('user.user_update') }}" class="mt-3">
            {% if user %}
                <!-- 用户ID，通常作为隐藏字段提交，用于更新操作 -->
                <input type="hidden" name="id" value="{{ user.id }}">

                <!-- 用户名 -->
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label" >用户名：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名"
                               value="{{ user.username }}" required>
                    </div>
                </div>

                <!-- 邮箱 -->
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">邮箱：</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="邮箱"
                               value="{{ user.email }}" required readonly>
                    </div>
                </div>

{#                手机号#}
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">手机号：</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="手机号"
                               value="{{ user.phone }}" required>
                    </div>
                </div>

                <!-- 加入时间（只读展示） -->
                <div class="form-group row">
                    <label for="joinTime" class="col-sm-2 col-form-label">加入时间：</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="joinTime"
                               value="{{ user.join_time.strftime('%Y-%m-%d %H:%M:%S') }}">
                    </div>
                </div>

                <!-- 性别 -->
                <div class="form-group row">
                    <label for="sex" class="col-sm-2 col-form-label">性别：</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="sex" name="sex" required>
                            <option value="男" {% if user.sex == '男' %}selected{% endif %}>男</option>
                            <option value="女" {% if user.sex == '女' %}selected{% endif %}>女</option>
                        </select>
                    </div>
                </div>

                <!-- 卡号 -->
                <div class="form-group row">
                    <label for="card" class="col-sm-2 col-form-label">卡号：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="card" name="card" placeholder="卡号"
                               value="{{ user.card }}" required readonly>
                    </div>
                </div>

                <!-- 管理员权限 -->
                {% if user.admin == 3 %}
                	<div class="form-group row">
                    <label for="admin" class="col-sm-2 col-form-label">管理员权限：</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="admin" id="adminTrue" value="1"
                                   {% if user.admin >= 2 %}checked{% endif %}>
                            <label class="form-check-label" for="adminTrue">是</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="admin" id="adminFalse" value="0"
                                   {% if user.admin == 1 %}checked{% endif %}>
                            <label class="form-check-label" for="adminFalse">否</label>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary" style="width:-webkit-fill-available;">保存更改</button>
            {% else %}
                <p class="text-center text-danger">未找到用户信息，请确保已正确加载。</p>
            {% endif %}
        </form>
    </div>
    <script>
        $(document).ready(function () {
            var alertMessage = {{ alert_message }};
            alert(alertMessage);
        });
    </script>
{% endblock %}
